@import "./abstract/variables.module.scss";

.button {
  display: inline-block;
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 11px 20px;
  border-radius: 3em;
  border: 0;
  line-height: 1;
  cursor: pointer;
}

.primary {
  background-color: $blue;
  color: $white;
}

.secondary {
  border: 1px solid $blue;
  background-color: $white;
  color: $blue;
}
