@import "../abstract/variables.module.scss";
@import "../abstract/font.module.scss";

.projectSection {
  margin: 160px auto;
  max-width: 1400px;
  width: 85vw;
}

.title {
  font-family: "Playfair Display";
  font-weight: bold;
  font-size: 64px;
}

.projectList {
  display: grid;
  row-gap: 100px;
  margin-top: 160px;
}
